<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title> 
    <!-- <link rel='stylesheet' href="{{ url_for('static',filename='css/index.css') }}" type="text/css"> -->
    <link rel='stylesheet' href="/static/css/about.css" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="circle" id="background-circle"></div>
    <div id="nav-bar-circles">
        <a href="about"><div class="small-circle" id="about-circle">about</div></a>
        <a href="cv"><div class="small-circle" id="cv-circle">cv</div></a>
    </div>
    <a href="/">    
        <div id="namebar">
            <h1 id="name">james lian</h1>

        </div>
        <div id="background-name-circles">
            <div class="circle" id="circle1"></div>
            <div class="circle" id="circle2"></div>
            <div class="circle" id="circle3"></div>
        </div>
    </a>

    <div id="me">
        <img id="me-image" src="static/media/Me.jpg">
        <div id="me-body">
            <div id="me-summary">hi! i'm james lian. </div>
            <br> 
            i am a <span style="font-style: italic">dabbler.</span> 
            i have branches in linguistics, politics, geography, math, programming, robotics, science, and urban planning
             <br> <br> 
            i am a <span style="font-style: italic">lover.</span> 
            here are some of my loves: reading, cities skylines and grand strategy games, catan, LOTR, lofi music, and jet lag the game 
            <br> <br> 
            i am a <span style="font-style: italic">doer.</span> 
            currently building AI to summarize legislative texts, learning guitar/piano simultaneously, reading the stack of books i got from Atlas, and making digital art
            <br> <br> 
            please reach out! i'm based in upstate new york but i bounce around pretty frequently, and I always love meeting new people.  
            <br> <br> 
            schedule a meeting <a href="https://calendly.com/pbnjam">on my calendly</a>
        </div>
    </div>

    <div id="footer">Copyright 2024 james lian</div>
</body>
</html>