<!DOCTYPE html>
<html lang="en">
<head>
    <title>Art</title>
    <link rel='stylesheet' href='/static/css/art.css'>

    <link href="https://fonts.googleapis.com/css?family=Fira+Code" rel="stylesheet">
</head>
<body>
    <div class="circle" id="background-circle"></div>
    <div id="nav-bar-circles">
        <a href="about"><div class="small-circle" id="about-circle">about</div></a>
        <a href="https://drive.google.com/file/d/11lPixPkPHGuuhQVtO0i5o7NvPeXrogOX/view?usp=sharing"><div class="small-circle" id="cv-circle">cv</div></a>
    </div>
    <a href="/">    
        <div id="namebar">
            <h1 id="name">Jam Lian</h1>

        </div>
        <div id="background-name-circles">
            <div class="circle" id="circle1"></div>
            <div class="circle" id="circle2"></div>
            <div class="circle" id="circle3"></div>
        </div>
    </a>
    <audio id="audio" src="/static/media/media/sun mother.wav" loop="loop"></audio>
    <div id="landing-bg">
        <video class='bg' id='torus' width="100%" height="100%" autoplay loop muted>
            <source src="/static/media/art/torus_explode.mp4" type="video/mp4">
        </video>
        <video class='bg' id='water' width="100%" height="100%" autoplay loop muted>   
            <source src="/static/media/art/water_sim.mp4" type="video/mp4">
        </video>
        <video class='bg' id='float' width="100%" height="100%" autoplay loop muted>
            <source src="/static/media/art/float-island.mp4" type="video/mp4">
        </video>
        <video class='bg' id='explode' width="100%" height="100%" autoplay loop muted>
            <source src="/static/media/art/explode.mp4" type="video/mp4">
        </video>
    </div>    
    <div id='header-section'>
        <div id='header'>The Useful, Thoughtful, and Beautiful:</div>
        <div id='subheader'>A portfolio of art I've worked on and created over the years.</div>
        <!-- <div id='attribution'>James Lian</div> -->
        <div id="play-text">Play Music:</div>
        <div id="play-div">
            <img id="play-button" width='64px' height='64px' src="/static/media/media/play.png">
        </div>
        <!-- <img id="down-arrow" width='64px' height='64px' src="/static/media/media/down-arrow.png"> -->
    </div>
    <div id="car-section">
        <div id="car-text">Outer Worlds</div>
        <div id="car-subtext">Application to the Yale Cortex Collective, imagining an alternate world.</div>
        <img src="/static/media/art/sapling.png" width=800px height=450px>
    </div>
    <div id="subway-section">
        <div id="subway-text">Subway Train</div>
        <div id="subway-subtext">Fun art I made for a surreal video game.</div>
        <img class="img-500" src="/static/media/art/subway promo 1.png" width=500px height=500px>
        <img class="img-500" src="/static/media/art/subway promo 2.png" width=500px height=500px>
    </div>
    <div id="misc-text">More</div>
    <div id="misc-section">
        <img class="img-full" class="misc" src="/static/media/art/sci-fi enviro final.png" width=1200px height=675px>
        <img class="img-full" class="misc" src="/static/media/art/mountains.PNG" width=1200px height=714px>
        <img class="img-full" class="misc" src="/static/media/art/ball_and_tri.png" width=1200px height=675px>
        <img class="img-full" class="misc" src="/static/media/art/anime.png" width=675px height=675px>
        <img class="img-full" class="misc" src="/static/media/art/computer chip.PNG" width=100% height=100%>
        <img class="img-full" class="misc" src="/static/media/art/cubes.png" width=100% height=100%>
        <img class="img-full" class="misc" src="/static/media/art/logo.png" width=49% height=50%>
        <img class="img-full" class="misc" src="/static/media/art/reindeer.jpg" width=100% height=100%>
        <img class="img-full" class="misc" src="/static/media/art/New Years Ball.png" width=49% height=50%>

    </div>
    <div id="footnote">James Lian. </div>
    <div id="subfootnote">Music by Melodysheep. Art and website by me.</div>

    <script type='text/javascript' src='/static/js/art.js'></script>
</body>
</html>