<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>James Lian</title> 
    <!-- <link rel='stylesheet' href="{{ url_for('static',filename='css/index.css') }}" type="text/css"> -->
    <link rel='stylesheet' href="/static/css/index.css" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/media/favicon.ico">

</head>
<body>
    <div class="circle" id="background-circle"></div>
    <div id="nav-bar-circles">
        <a href="about"><div class="small-circle" id="about-circle">about</div></a>
        <a href="https://drive.google.com/file/d/11lPixPkPHGuuhQVtO0i5o7NvPeXrogOX/view?usp=sharings"><div class="small-circle" id="cv-circle">cv</div></a>
    </div>
    <div id="namebar">
        <h1 id="name">Jam Lian</h1>
        <h5 id="tagline">Sophomore at Yale <br> NHS '24 | Atlas '23 </h5>
        <div id="socials">
            <a href="https://github.com/JamesxGamesYT"><img src="/static/media/Github.png" alt="Github"></a>
            <a href="https://www.linkedin.com/in/james-lian-2b0a69278/"><img src="/static/media/Linkedin.png" alt="Linkedin"></a>
            <a href="mailto:jamesanxinlian@gmail.com"><img src="/static/media/Email.png" alt="Email"></a>
            <a href="https://www.instagram.com/pbnjam.es/"><img src="/static/media/Instagram.png" alt="Instagram"></a>
        </div>

    </div>
    <div id="background-name-circles">
        <div class="circle" id="circle1"></div>
        <div class="circle" id="circle2"></div>
        <div class="circle" id="circle3"></div>
    </div>
    <div id="what-if">What if...</div>
    <div id="features">
        <div id="gerrymandering">
            <div id="gerrymandering-image"><img id="gerrymandering-gif" src="/static/media/NC-communities-modified.gif"></div>
            <a href="https://hacking-the-election.github.io" id="gerrymandering-text">we could harness <span style="color: orange">algorithms</span> to solve political gerrymandering?</a>
        </div>
        <div id="itz">
            <img id="itz-image" src="/static/media/In-The-Zone.jpg">
            <a href="https://www.frontiersin.org/articles/10.3389/frsc.2023.1149753/full" id="itz-text">we could improve urban greenspace data with <span style="color: #8dc4d7">computer vision</span>?</a>
        </div>
    </div>
    <div id='section-circles'>
        <a class="section-links" href="art"><div class="large-circle" id="circle4">art</div></a>
        <a class="section-links" href="https://jamesanxinlian.medium.com/"><div class="large-circle" id="circle5">blog</div></a>
        <a class="section-links" href="https://github.com/pbnjam-es"><div class="large-circle" id="circle6">projects</div></a>
    </div>

    <div id="footer">Jam Lian.
    </div>
</body>
</html>